[submodule "openharness"]
	path = openharness
	url = https://github.com/anomalyco/opencode
[submodule "pdfme"]
	path = pdfme
	url = https://github.com/pdfme/pdfme.git
[submodule "reader"]
	path = reader
	url = https://github.com/jina-ai/reader
